# network config
# Warning: hostname preseeding does not work when using network preseeding (url=...)
d-i netcfg/get_hostname string xubuntu

# include configs
d-i preseed/include string base.cfg

# install a xubuntu desktop with a ssh server
tasksel tasksel/first multiselect standard, openssh-server
d-i pkgsel/include string xubuntu-desktop virtualbox-guest-x11
